/* =============================================================
                        Menu part start
==============================================================*/ 
#menu{
    .menu_left{
        >ul{
            >li{
                position: relative;
                >a{
                    padding: 18px 20px;
                    background: #f1f1f1;
                    display: block;
                    // z-index: 999;
                    @include font_style(#333333, 14px, 600, $font_family1);
                    padding-right: 5px;
                    text-transform: uppercase;
                    position: relative;
                    >i:first-child{
                        font-size: 17px;
                        vertical-align: middle;
                    }
                    >i:last-child{
                        position: absolute;
                        font-size: 12px;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        .dropdown_box{
            z-index: 999;
            background: #fff;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            >ul{
                >li{
                    &:last-child{
                        a{
                            border-bottom: 0;
                            @include font_style(#336699, 13px, 600, $font_family1);
                            text-transform: uppercase;
                            letter-spacing: -0.325px;
                            i:last-child{
                                font-size: 11px;
                                padding-left: 5px;
                            }
                        }
                    }
                    position: relative;
                    &:hover{
                        .mega_menu,
                        .mega_menu_last{
                            display: block;
                        }
                    }
                    >a{
                        @include font_style(#333333, 13px, 500, $font_family1);
                        padding: 10px 20px;
                        display: block;
                        border-bottom: 1px solid #eee; 
                        transition: all linear .3s;
                        position: relative;
                        i:first-child{
                            font-size: 17px;
                            vertical-align: middle;
                        }
                        &:hover{
                            color: #336699;
                        }
                    }
                }
                li:first-child,
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4){
                    i:last-child{
                        position: absolute;
                        font-size: 12px;
                        top: 50%;
                        right: 20px;
                        transform: translateY(-50%);
                        transition: all linear .3s;
                    }
                    &:hover{
                        i{
                            right: 15px;
                        }
                    }
                }
            }
            .mega_menu{
                width: 690px;
                background: #fff;
                position: absolute;
                top: 0;
                left: 100%;
                display: none;
                transition: all linear .3s;
                .women{
                    h4{
                        @include font_style(rgb(51, 51, 51), 14px, 600, $font_family1);
                        text-transform: uppercase;
                        letter-spacing: -0.35px;
                        line-height: 14px;
                        padding: 20px 22px 10px;
                        border-bottom: 1px solid #eee;
                    }
                    ul{
                        li{
                            a{
                                @include font_style(rgb(102, 102, 102), 14px, 400, $font_family1);
                                padding: 6px 20px;
                                line-height: 15.4px;
                                transition: all linear .3s;
                                &:hover{
                                    color: #336699;
                                }
                            }
                            .sports{
                                padding: 6px 19px;
                            }
                            .media{
                                padding: 6px 18px;
                            }
                            .cell{
                                padding: 6px 14px;
                                margin-left: 5px
                            }
                            .Kitchen{
                                padding: 6px 14px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
                .mega_img{
                    position: relative;
                    .overly{
                        position: absolute;
                        top: 26px;
                        left: 30px;
                        p{
                            @include font_style(rgb(51, 51, 51), 14px, 500, $font_family1);
                            span{
                                @include font_style(rgb(51, 102, 153), 14px, 700, $font_family1);
                                text-transform: uppercase;
                            }
                        }
                        h3{
                            @include font_style(rgb(51, 51, 51), 25px, 700, $font_family1);
                        }
                        a{
                            @include font_style(rgb(51, 51, 51), 13px, 600, $font_family1);
                            text-transform: uppercase;
                            letter-spacing: -0.065px;
                            i{
                                padding-top: 54px;
                                padding-right: 14px;
                            }
                        }
                    }
                    .mega_overly_one{
                        position: absolute;
                        bottom: -23px;
                        left: 25px;
                        margin-top: 300px;
                        h5{
                            @include font_style(rgb(255, 255, 255), 16px, 400, $font_family1);
                        }
                        h3{
                            @include font_style(rgb(255, 255, 255), 24px, 700, $font_family1);
                        }
                        p{
                            @include font_style(rgb(255, 255, 255), 20px, 400, $font_family1);
                            letter-spacing: -0.5px;
                            span{
                                @include font_style(rgb(247, 124, 41), 20px, 600, $font_family1);
                                letter-spacing: -0.5px;
                            }
                        }
                        a{
                            @include font_style(rgb(255, 255, 255), 13px, 600, $font_family1);
                            letter-spacing: -0.5px;
                            i{
                                padding-top: 55px;
                                padding-right: 65px;
                            }
                        }
                    }
                    .mega_overly_two{
                        position: absolute;
                        bottom: -23px;
                        left: 25px;
                        h5{
                            @include font_style(rgb(204, 204, 204), 14px, 400, $font_family1);
                            line-height: 16.8px;
                            padding-bottom: 10px;
                        }
                        h3{
                            @include font_style(rgb(255, 255, 255), 22px, 700, $font_family1);
                            line-height: 24.2px;
                        }
                        p{
                            @include font_style(rgb(247, 124, 41), 22px, 700, $font_family1);
                            letter-spacing: -0.35px;
                            line-height: 22px;
                            padding-bottom: 15px;
                        }
                        a{
                            @include font_style(rgb(255, 255, 255), 13px, 600, $font_family1);
                            line-height: 14.3px;
                            padding: 10px 18px;
                            border: 2px solid rgb(255, 255, 255);
                            border-radius: 3px;
                        }
                    }
                }
            }
            .mega_menu_last{
                width: 882px;
                background: #fff;
                position: absolute;
                top: 0;
                left: 100%;
                display: none;
                transition: all linear .3s;
                .furniture{
                    h4{
                        @include font_style(rgb(51, 51, 51), 14px, 600, $font_family1);
                        text-transform: uppercase;
                        letter-spacing: -0.35px;
                        line-height: 14px;
                        padding: 20px 22px 10px;
                        border-bottom: 1px solid #eee;
                    }
                    ul{
                        li{
                            &:last-child{
                                padding-bottom: 20px;
                            }
                            a{
                                @include font_style(rgb(102, 102, 102), 14px, 400, $font_family1);
                                padding: 6px 20px;
                                line-height: 15.4px;
                                transition: all linear .3s;
                                &:hover{
                                    color: #336699;
                                }
                            }
                            .Decorative{
                                padding: 6px 19px;
                            }
                        }
                    }
                }
                .little_menu{
                    img{
                        border-radius: 3px;
                    }
                    position: relative;
                    .overly_last{
                        position: absolute;
                        top: 25px;
                        left: 25px;
                        text-align: right;
                        padding-left: 208px;
                        h5{
                            @include font_style(rgb(102, 102, 102), 13px, 400, $font_family1);
                            line-height: 15.6px;
                            padding-bottom: 8px;
                        }
                        h3{
                            @include font_style(rgb(51, 51, 51), 24px, 700, $font_family1);
                            line-height: 24px;
                            padding-bottom: 12px;
                        }
                        p{
                            @include font_style(rgb(51, 51, 51), 13px, 400, $font_family1);
                            line-height: 13px;
                            span{
                                font-weight: 700;
                            }
                        }
                    }
                    .overly_last_custom{
                        position: absolute;
                        top: 25px;
                        left: 25px;
                        h5{
                            @include font_style(rgb(255, 255, 255), 13px, 400, $font_family1);
                            line-height: 15.6px;
                            padding-bottom: 8px;
                        }
                        h3{
                            @include font_style(rgb(255, 255, 255), 24px, 700, $font_family1);
                            line-height: 24px;
                            padding-bottom: 12px;
                        }
                        p{
                            @include font_style(rgb(255, 255, 255), 13px, 400, $font_family1);
                            line-height: 13px;
                            span{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
    .menu_middle{
        padding: 12px 0;
        >ul{
            >li{
                >a{
                    margin: 0 15px;
                    @include font_style(rgb(51, 51, 51), 14px, 600, $font_family1);
                    letter-spacing: -0.126px;
                    line-height: 14.5px;
                    transition: all linear .3s;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: -5px;
                        width: 100%;
                        height: 3px;
                        background: #336699;
                        transform: scaleX(0);
                        transform-origin: 100% 0;
                        transition: transform .3s;
                    }
                    &:hover{
                        color: #336699;
                        &::after{
                            transform: scaleX(1);
                            transform-origin: 0 0;
                        }
                    }
                    i{
                        font-size: 12px;
                        padding-left: 5px;
                    }
                }
                position: relative;
                &:hover{
                    .sub_menu_shop{
                        display: block;
                    }
                }
                .sub_menu_shop{
                    width: 800px;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background: #fff;
                    padding: 20px;
                    display: none;
                    margin-top: 10px;
                    z-index: 999;
                    .shop_page{
                        h4{
                            @include font_style(rgb(51, 51, 51), 14px, 600, $font_family1);
                            letter-spacing: -0.35px;
                            line-height: 14px;
                            text-transform: uppercase;
                            padding-bottom: 5px;
                        }
                        ul{
                            li{
                                a{
                                    @include font_style(rgb(102, 102, 102), 14px, 400, $font_family1);
                                    line-height: 14px;
                                    padding: 10px 0;
                                    transition: all linear .3s;
                                    &:hover{
                                        color: #336699;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                position: relative;
                &:hover{
                    .sub_menu_vendor{
                        display: block;
                    }
                }
                .sub_menu_vendor{
                    width: 215px;
                    position: absolute;
                    left: 0;
                    top: 100%;
                    background: #fff;
                    padding: 15px 20px;
                    display: none;
                    margin-top: 10px;
                    z-index: 999;
                    ul{
                        li{
                            a{
                                @include font_style(rgb(102, 102, 102), 14px, 400, $font_family1);
                                line-height: 14px;
                                transition: all linear .3s;
                                position: relative;
                                display: block;
                                padding: 8px 0;
                                &:hover{
                                    color: #336699;
                                }
                                i{
                                    font-size: 12px;
                                    position: absolute;
                                    top: 50%;
                                    right: 2px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu_right{
        a{
            @include font_style(rgb(51, 51, 51), 14px, 600, $font_family1);
            letter-spacing: -0.35px;
            line-height: 22.4px;
            padding: 17px 46px;
            padding-left: 7px;
            position: relative;
            transition: all linear .3s;
            &:hover{
                color: #336699;
            }
            i{
                font-size: 24px;
                position: absolute;
                left: -18px;
                top: 15px;
            }
        }
    }
}
/* =============================================================
                        Menu part end
==============================================================*/