/* =============================================================
                    Top categories part start
==============================================================*/
#top_categories{
    padding: 60px 0;
    background: #f5f5f5;
    h2{
        @include font_style(#333, 20px, 700, $font_family1);
        line-height: 24px;
        text-align: center;
        padding-bottom: 25px;
    }
    .top_categories_img{
        position: relative;
        transition: all linear .3s;
        overflow: hidden;
        img{
            transition: all linear .3s;
        }
        &:hover{
            h6{
                transform: translateY(-18px);
            }
            img{
                transform: scale(1.2);
            }
        }
        .top_categories_overly{
            position: absolute;
            left: 57px;
            bottom: 20px;
            text-align: center;
            height: 18px;
            overflow: hidden;
            h6{
                transition: all linear .3s;
                a{
                    @include font_style(rgb(51, 51, 51), 14px, 600, $font_family1);
                    line-height: 16px;
                    display: block;
                }
                .custom_a_fashion{
                    color: #336699;
                    text-transform: uppercase;
                    position: relative;
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        bottom: -3px;
                        width: 100%;
                        height: 3px;
                        background: #336699;
                        transform: scaleX(0);
                        transform-origin: 0 50%;
                        transition: transform .4s;
                    }
                    &:hover{
                        &::after{
                            transform: scaleX(1);
                            transform-origin: 0 0;
                        }
                    }
                }
            }
            
        }
    }
}
/* =============================================================
                    Top categories part end
==============================================================*/